Django==1.11
django-extensions==1.9.9
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
factory-boy==2.10.0
fake-factory==0.7.4
Faker==0.8.11
Pillow==5.0.0
pkg-resources==0.0.0
PyJWT==1.5.3
python-dateutil==2.6.1
pytz==2017.3
six==1.11.0
text-unidecode==1.1
typing==3.6.4
